.search-bar {
  display: flex;
  align-items: center;
  gap: 8px; /* Расстояние между полем ввода и кнопкой */
}

.search-bar input {
  flex: 1; /* Растягиваем поле ввода */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
