/* src/styles/ServiceTable.css

/* Общее оформление таблицы */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid grey; */
  border-radius: 10px;
  width: 90%;
  margin: 20px;
  font-size: 16px;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
}

th,
td {
  margin: 10px;
  padding: 7px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  cursor: pointer;
  font-weight: bold;
}

td {
  background-color: #f4f4f4;
}
/* 

/* Добавляем hover эффект для строк */
/* tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
} */

/* Стилизация кнопки сортировки */
th:hover {
  background-color: #eaeaea;
}

/* Если строка в таблице неактивная, например, в процессе загрузки данных */
/* table.loading th,
table.loading td {
  background-color: #f0f0f0;
  color: #aaa;
  cursor: not-allowed;
} */

/* Убираем стандартный маргин для таблицы, если нужно */
/* table {
} */

/* Стиль для первого столбца (например, для более заметного выделения) */
/* th:first-child, */
/* td:first-child {
  padding-left: 20px;
  color: rgb(41, 41, 41);
}
*/

th:first-child:hover,
td:first-child:hover {
  text-decoration: underline;
}

/* Определим стили для ошибок и статусов */
/* table.error th,
table.error td {
  color: red;
  font-style: italic;
}  */
