/* Хлебные крошки */

.breadcrumbs {
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 20px;
}

.breadcrumb-item a {
  color: #666666;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: black;
  text-decoration: underline;
}
