.login_container {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* button {
  margin: 2px;
  display: inline-block;
  background-color: white;
  color: #333;
  border: 2px solid grey;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
} */
