/* Стили для Navbar */
.navbar {
  background-color: white;
  /* padding: 15px 20px; */
  /* border-radius: 5px; */
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}

.navbar-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  color: rgb(41, 41, 41);
  text-decoration: none;
  font-size: 18px;
}

.navbar-link:hover {
  color: #727272;
}

.logout-button {
  background-color: #fed5d1;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #ec6b6b;
}
